.container {
  border: 1px solid black;
  font-size: 0.9em;
}
.navbar {
  border: 1px solid black;
  display: flex;
  
}
.side-bar {
  border: 1px solid black;
  width: 50%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  display: none;
}

.section2 {
  border: 1px solid black;
}
.today-details {
  display: flex;
  flex-direction: column;
}
.today-activities {
  display: flex;
  flex-wrap: wrap;
}
.total-appointments {
  width: 40%;
  border: 1px solid black;
  display: flex;
  align-items: center;
  margin: 0.5em;
  border-radius: 10px;
  padding: 0.5em;
}
.total-appointments img {
  height: 50px;
  width: 50px;
  object-fit: cover;
  margin-right: 1em;
}
.total-appointments p {
  margin-top: -1.5em;
}
.today-details__chart {
  border: 1px solid black;
}
.chart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chart-graph {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chart-graph img {
  border: 1px solid black;
  width: 300px;
  height: 300px;
  background-color: black;
}
.hosiptal-activity__chart {
  border: 1px solid black;
}
.hosiptal-activity__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hosiptal-activity__details {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
}
.hosiptal-activity__chart img {
  border: 1px solid black;
  width: 100%;
  height: 300px;
  object-fit: contain;
  background-color: black;
}

.appointment-activity__header ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
}
.appointment-card {
  border: 1px solid black;
  font-size: 0.7em;
  display: flex;
}

.spendings {
  border-style: 1px solid black;
  display: flex;
}
.section3-doctors {
  border: 1px solid black;
}
.doctors,
.section3-doctors__profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.doctors img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: black;
  margin-right: 0.5em;
}
.section3-calender img {
  border: 1px solid black;
  width: 100%;
  height: 300px;
  object-fit: contain;
  background-color: black;
}
